<h1>{{ title }}</h1>
<hr>
<nav>
    <ul>
        <li>
            <a href="/asian" class="navi">Asian Movies</a>
        </li>
        <li>
            <a href="/northamerican" class="navi">North American Movies</a>
        </li>
    </ul>
</nav>



