<h1>{{ title }}</h1>
<hr>
<a href="/" class="backBtn">HOME</a>
<nav>
    <ul>
        <li>
            <a href="/Comedy" class="navi">COMEDY</a>
        </li>
        <li>
            <a href="/ScienceFiction" class="navi">SCIENCE FICTION</a>
        </li>
        <li>
            <a href="/Cartoon" class="navi">CARTOON</a>
        </li>
        <li>
            <a href="/Musical" class="navi">MUSICAL</a>
        </li>
    </ul>
</nav>
  {{#if northamericanmode}}
    <link rel="stylesheet" href="/stylesheets/kids.css">
  {{/if}}
